 body{
    background-image:url("../images/bg-intro-desktop.png");
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
 }
 

 main{
  margin: 150px;
  padding: 50px;
 }
.attribution a {
  color: hsl(228, 45%, 44%);
     }

      
 .attribution { 
    font-size: 11px; 
    text-align: center; 
    
}

footer{
   margin-top: auto;
}
 
/* buttons */
 .claim, .trial{
    border-radius:10px;
    border:none;
 }

 .trial{
    background: hsl(248, 32%, 49%);
    color:white;
 }

.terms{
    color:red;
}

.input-fields{
    background:white;
}

.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50%;
}

.col{
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  flex: 1;
}
h1{
  color:white;
  font-weight: 700;
  
}

.company-info{
  color:white;
  font-weight: 100;
}

     /* Media Queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}