 body{
    background-image:url("../images/bg-intro-desktop.png");
    font-size: 16px;
    background-color: hsl(0, 100%, 74%);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
 }
 

 main{
  margin: 150px;
  padding: 50px;
  text-align: center;
 }




.attribution a {
  color: hsl(228, 45%, 44%);
     }

      
 .attribution { 
    font-size: 11px; 
    text-align: center; 
    
}

footer{
   margin-top: auto;
}
 
/* buttons */
 .claim, .trial{
    border-radius:10px;
    border:none;
 }

 .trial{
    background: hsl(248, 32%, 49%);
    color:white;
    width:45%;
    margin:30px;
    padding:20px;
    border-radius:8px;
    font-size: 16px;

 }



.claim{
  margin:10px;
  padding:20px;
  width:95%;
  border:1px solid;
  border-radius: 10px;
  background-color: hsl(154, 59%, 51%);
  font-size:16px;
  color:white;
}




.bus-info{
  margin:0 auto;
  height:50%
}

.terms{
    color:red;
}

.input-fields{
    background:white;
    width:50%;
    height:75%;
    padding:20px;
    border-radius:10px;
    /* box-shadow */
   
}
.info{
  margin:10px;
  padding:20px;
  width:75%;
  border:1px solid;
  border-radius: 8px;
  color:hsl(246, 25%, 77%);
  font-size:16px;
}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;   
}

.col{
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
h1{
  color:white;
  font-weight: 700;
}

.services {
 font-size:12px;
 color:hsl(246, 25%, 77%);
}


.company-info{
  color:white;
  font-weight: 100;
  font-size:16px;
}


     /* Media Queries */

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1400px;
  }
}